*{
	box-sizing: border-box;
 }

body{
	display : flexbox;
	flex-direction : column;
}

header{
	background-color: #04324c;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
	padding: 4px;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

section{
	margin: 2em 0;
	overflow: hidden;
	padding-top: 2em;
	padding-bottom: 2em;
	display : flex;
	flex-direction : row;
}

::placeholder {
	color: blue;
	font-size: 1.5em;
  }

.encriptar{
	padding: 0.8em;
	width: 40%;
	height: 20em;
	margin: auto;
	display : flex;
	flex-direction : column;
	align-items: center;
	border-radius: 10px;
}

.desencriptar{
	padding: 0.8em;
	width: 40%;
	height: 20em;
	margin: auto;
	display : flex;
	flex-direction : column;
	border-radius: 10px;
	border-color: #588198;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
	align-items: center;
}

#frase{
	padding: 10px;
	width: 95%;
	height: 88%;
	margin: auto;
	border-radius: 10px;
	resize:none;
	border: none;
}

#textoEncriptado{
	background-image: url(/img/encriptar.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	object-fit: contain;
	padding: 10px;
	width: 95%;
	height: 88%;
	margin: auto;
	border-radius: 10px;
	resize:none;
	border: none;
}

.btn{
	margin: 5px 15px;
	display : inline;
	width: 8em;
	height: 3em;
	border-radius: 15px;
	cursor: pointer;
	font-weight: bold;
	text-transform: capitalize;
	background: #FFF;
	transition: 0.8s all;
	border-color: #135074;
}

.btn:hover{
	background: rgb(86, 134, 176);
	transform: scale(1.20);
	color: aliceblue;
}

#btn-encriptar{
	border-color: #c3d6e1;
	background-color: #233657;
	color: white;
}
#btn-encriptar:hover{
	border-color: #233657;
	background-color: #c3d6e1;
	color: black;
}

.footer{
	padding: 20px;
	color: aliceblue;
	font-weight: bold;
	text-align: center;
	background-color: #04324c;
}