/*
 
*/

* {
    margin:0;
    padding:0;
  }

html {
	min-height: 100%;
	position: relative;

}
  
body {
  background-image: url(/FrontEnd/assets/img/dwd_bg_lr.svg);
  background-size: cover;
	background-repeat: no-repeat;
  margin: 0;
	margin-bottom: 4em;
	clear: left;
	clear: right;
}


header{
	background-color: #181e22;
	height: 3em;
	color: #FFF;
	padding: 4px;
	align-items: center;
}

header{
	padding: 4px;
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	margin-left: 1em;
}

  header, 
  nav,
  footer {
    text-align: center;
    border-radius: .5em;
    margin: 0.5em auto;
    padding: 0.25em;
    padding-top: 1em;
  }

  .footer{
    margin-top: 2em;
    text-align: center;
    background-color: #1e1e1f;
    mix-blend-mode: multiply;
  }

  .footer-group{
    color: darkgrey;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 2em;
    transition: 0.8;
  }

  .footer-group:hover{
    color: aliceblue;
    scale: 1.2;
  }

  #ic{
    margin:0 0.2em 0 ;
    color: rgb(86, 134, 176);
  }

  #ic:hover{
    color: aliceblue;
  }

  #content {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  
  .principal{
    /* IMPORTANTE */
    text-align: center;
    mix-blend-mode: multiply;
  }

  .secundario{
    padding: 10px;
    margin: 10px;
    /* IMPORTANTE */
    display: inline-block;
  }
  
  /* MEDIA QUERY */
  @media  screen and (min-width:480px){
    header a {
      font-size: 2em;
    }
    footer{
      margin-top: 1em;
    }
    #ic{
      margin-right: 2em;
    }
    #principal {
      width: 60%;
    }
    aside {
      width: 29%;
      margin-top:0;
    }
 
  }
  