/*
 
*/

* {
    margin:0;
    padding:0;
  }

  html {
	min-height: 100%;
	position: relative;
}
  
body {
  background-image: url(/FrontEnd/assets/img/bg_dwd.svg);
  background-size: cover;
  background-repeat: no-repeat;
	margin: 0;
	margin-bottom: 4em;
	clear: left;
	clear: right;
}

header{
	background-color: #181e22;
	height: 3em;
	color: #FFF;
	padding: 4px;
	align-items: center;
}

header a{
	padding: 4px;
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	margin-left: 1em;
}

a{
    color: aliceblue;
    text-align: justify;
    margin: auto 1em auto;
    text-decoration: none;
  }

a:hover{
    color: rgb(86, 134, 176);
  }

  header, 
  nav,
  footer {
    background-color: #04324c;
    border-radius: .5em;
    margin: 0.5em auto;
    padding: 0.25em;
    text-align: center;
  }

  footer{
    margin-top: 2em;
  }

  #ic{
    margin:0 0.2em 0 ;
    color: rgb(86, 134, 176);
  }

  #ic:hover{
    color: aliceblue;
  }

  #content {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  
  .principal{
    /* IMPORTANTE */
    text-align: center;
  }

  .secundario{
    padding: 10px;
    margin: 10px;
    /* IMPORTANTE */
    display: inline-block;
  }

  
#textoEncriptado{
    font-size: 100%;
	background-image: url(/assets/img/encriptar2.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	object-fit: fill;
	padding: 10px;
	width: 95%;
	height: 25em;
	margin: auto;
	border-radius: 10px;
	resize:none;
	border: none;
}

.btn{
	margin-top: 2em;
	margin-right: 2em;
	width: 8em;
	height: 3em;
	border-radius: 15px;
	cursor: pointer;
	font-weight: bold;
	text-transform: capitalize;
	background: #FFF;
	transition: 0.7s all;
	border-color: #135074;
}

.btn:hover{
	background: rgb(86, 134, 176);
	transform: scale(1.20);
	color: aliceblue;
}

#btn-encriptar{
	border-color: #c3d6e1;
	background-color: #233657;
	color: white;
}
#btn-encriptar:hover{
	border-color: #233657;
	background-color: #c3d6e1;
	color: black;
}
  
  /* MEDIA QUERY */
  @media  screen and (min-width:480px){
    header a {
      font-size: 2em;
    }
    footer{
      margin-top: 1em;
    }
    #ic{
      margin-right: 2em;
    }
    #principal {
      width: 60%;
    }
    aside {
      width: 29%;
      margin-top:0;
    }
 
  }
  